.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
  flex-wrap: wrap;
}
.row-eq-height > [class*='col-'] {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
}

.footer-column{
    display:none !important;
}

.filter-properties-list{
    font-size: 0.8rem;
}
.basket .meta-container .filter-properties-list{
    display: block;
}
.basket .filter-properties-list,
.basket-preview .filter-properties-list{
    display: none;
}

@media (min-width: 768px) {
    .wrapper-main > nav.container-max {
        position: static;
    }
}

@media (max-width:991px){
    .owl-carousel .owl-dots{
        display: none;
    }
}

.widget-primary .btn-appearance,
.widget-primary .bg-appearance,
.badge-primary,
.badge,
.btn-primary,
.page-item.active .page-link,
.mobile-navigation,
.control-basket .toggle-basket-preview,
.controls-list .nav-link:hover,
.main-navbar-collapsable .mainmenu>li:hover>a,
.main-navbar-collapsable .mainmenu>li.hover>a{
    color: #fff !important;
}
.megamenu .collapse{
    background-color: #fff !important;
}

.cmp-product-thumb .btn-primary{
    background-color: transparent;
    color: #ff8000 !important;
}

.cmp-product-thumb  .widget-primary .btn-appearance,
.cmp-product-thumb  .btn-primary,
.cmp-product-thumb  .btn-primary.disabled,
.cmp-product-thumb  .btn-primary:disabled {
    background-color: transparent;
    color: #ff8000 !important;
}
.cmp-product-thumb .btn-primary:hover,
.cmp-product-thumb .btn-primary:focus,
.cmp-product-thumb .btn-primary.focus,
.cmp-product-thumb .btn-primary:active,
.cmp-product-thumb .btn-primary.active,
.cmp-product-thumb .open > .btn-primary.dropdown-toggle,
.cmp-product-thumb .btn-primary.disabled:hover,
.cmp-product-thumb .btn-primary:disabled:hover,
.cmp-product-thumb .btn-primary.disabled:focus,
.cmp-product-thumb .btn-primary:disabled:focus,
.cmp-product-thumb .btn-primary.disabled.focus,
.cmp-product-thumb .btn-primary:disabled.focus,
.cmp-product-thumb .btn-primary:active:hover,
.cmp-product-thumb .btn-primary.active:hover,
.cmp-product-thumb .open > .btn-primary.dropdown-toggle:hover,
.cmp-product-thumb .btn-primary:active:focus,
.cmp-product-thumb .btn-primary.active:focus,
.cmp-product-thumb .open > .btn-primary.dropdown-toggle:focus,
.cmp-product-thumb .btn-primary:active.focus,
.cmp-product-thumb .btn-primary.active.focus,
.cmp-product-thumb .open > .btn-primary.dropdown-toggle.focus {
    background-color: #ff8000;
    color: #fff !important;
}
