<div class="filter-properties-list">
  <div class="property-items">
      <template v-for="property in basketItem.variation.data.properties" v-if="property.property.isShownAtCheckout">
          <div class="property-item">
              <strong v-if="property.group && property.group.names">${ property.group.names.name }: </strong>
              <span v-if="property.property && property.property.names">${ property.property.names.name }</span>
          </div>
      </template>
  </div>
</div>